#about.modal.fade.in{"aria-hidden" => "false", "aria-labelledby" => "about", role: "dialog", style: "display: none;", tabindex: "-1"}
  .modal-dialog
    .modal-body
      .container
        .row
          .col-md-12
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h3 About Me
          .col-md-offset-2.col-md-4.col-sm-6.col-xs-12
            = image_tag 'icon3.png'
          .col-md-4.col-sm-6.col-xs-12
            %ul.aboutme_list
              %li Web Developer
              %li Focus on Back-end techniques
              %li RWD application expierences
              %li Capable of building REST API with RoR
              %li Experience with AWS
              %li Basic knowledge with front-end, Html, CSS3(SASS), jQuery

// modal contact //
#contact.modal.fade.in{"aria-hidden" => "false", "aria-labelledby" => "contact", role: "dialog", style: "display: none;", tabindex: "-1"}
  .modal-dialog
    .modal-body
      .container
        .row
          .col-md-12
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h3 Contact
          .col-md-12.col-sm-12.col-xs-12.text-center
            = image_tag 'icon1.png'
            %address.email
              %a{:href => "mailto:#"} sheep0406@hotmail.com

// modal contact //

// modal work //
#work.modal.fade.in{"aria-hidden" => "false", "aria-labelledby" => "work", role: "dialog", style: "display: none;", tabindex: "-1"}
  .modal-dialog
    .modal-body
      .container
        .row
          .col-md-12
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h3 About my work
          .col-md-4.col-sm-6.col-xs-6
            %a{href: "http://www.locksure.com.tw/", target: "_blank"}
              = image_tag 'locksure.png', class: 'img-responsive img-rounded'
            %h4 今湛企業有限公司(接案)
            %p.center-block 介面調整、功能維護
            %p.center-block Rails / jQuery / CSS3
          .col-md-4.col-sm-6.col-xs-6
            %a{:href => "https://rate-calculate.herokuapp.com/", :target => "_blank"}
              = image_tag 'rate.png', class: 'img-responsive img-rounded'
            %h4 匯算網
            %p.center-block 網站爬蟲、Mailgun寄信、Fb,Google 登入
            %p.center-block Ajax / MailGun / Ruby Crawler
          .col-md-4.col-sm-6.col-xs-6
            %a{:href => "https://ponpon-shoestore.herokuapp.com/", :target => "_blank"}
              = image_tag 'shoestore.png', class: 'img-responsive img-rounded'
            %h4 Shoe Store
            %p.center-block 前端開發、金流介接(測試)
            %p.center-block Rails / Pay2go / jQuery
          .col-md-4.col-sm-6.col-xs-6
            %a{:href => "http://www.mdb88.net/", :target => "_blank"}
              = image_tag 'mdb88.png', class: 'img-responsive img-rounded'
            %h4 博彩網站(接案)
            %p.center-block 介面調整、功能維護
            %p.center-block Rails / jQuery / CSS3
